---
layout: default
title: Blog
under_construction: "{{ site.is_under_construction }}"
---

<section id="post-container" class="block">
    {% for post in site.posts %}
    <a href="{{post.url}}" style="all: unset;">
        <div class="post{% if post.promoted == 1 %} promoted{% endif %}" data-word-count="{{ post.content | number_of_words  }}">
        <div class="post-content">
            <h2>{{post.title}}</h2>
            <p>{{post.content}}</p>
            <div class="post-stats">
            {% assign formattedDate = post.date | date: "%d %b %Y" | upcase %}
            <span>{{formattedDate}}</span>
            <span class="readingTime"></span>
            <span class="{% if post.tags %}post_type{% endif %}">{{post.tag}}</span>
            </div>
        </div>
        </div>
    </a>
  {% endfor %}
</section>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const postElements = document.querySelectorAll('.post');

    postElements.forEach(function(postElement, index) {
      const wordCount = postElement.getAttribute('data-word-count');
      const readingTime = calculateReadingTime(wordCount);

      // Find the readingTime span element within the current post
      const readingTimeElement = postElement.querySelector('.readingTime');
      if (readingTimeElement) {
        // Update the readingTime span element with the calculated reading time
        readingTimeElement.textContent = readingTime;
      } else {
        console.error('Element with class "readingTime" not found in post #' + (index + 1));
      }
    });
  });
</script>