<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Anna Kozh - {{page.title}}</title>
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon.jpg">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css">
    <script src="{{site.baseurl}}/assets/js/calculate_reading_time.js"></script>
</head>

<body>
    <nav class="navbar">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <img class="logo" src="{{site.baseurl}}/assets/images/favicon.jpg" alt="" srcset="">
                <a aria-current="page" href="/">Anna Kozh</a>
            </li>
            <li class="nav-item">
                <a aria-current="page" href="{{site.baseurl}}/">Portfolio</a>
            </li>
            <li class="nav-item">
                <a aria-current="page" href="{{site.baseurl}}/blog.html">Blog</a>
            </li>
            <li class="nav-item icon download"
                style="background: url({{site.baseurl}}/assets/images/cloud-arrow-down-solid.svg) no-repeat;">
                <a class="resume-placeholder " href="">
                    R&#233sum&#233</a>
            </li>
        </ul>
    </nav>
    <!-- <script>
        document.addEventListener('DOMContentLoaded', function() {
        // Get all anchor tags with the class 'nav-link'
        const navLinks = document.querySelectorAll('.nav-link');

        // Add click event listener to each anchor tag
        navLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent the default behavior

                // Get the target URL from the 'data-href' attribute
                const targetURL = link.getAttribute('data-href');
                console.log('Navigation to: ' + targetURL);

                // Fetch the content from the target URL using AJAX
                fetch(targetURL)
                    .then(response => response.text())
                    .then(data => {
                        console.log(data)
                        // Update the content of the 'content' div with the fetched data
                        document.getElementById('content').innerHTML = data;
                    })
                    .catch(error => {
                        console.error('Error fetching content:', error);
                    });
            });
        });
    });
    </script> -->