{% if site.is_under_construction %}
    {% include under-construction.html %}
{% else %}
    {% include header.html %}
    <script>
        // Function to update the loader bar
        function updateLoaderBar() {
            const scrollPosition = window.scrollY;
            const documentHeight = document.documentElement.scrollHeight;
            const windowHeight = window.innerHeight;
            const contentHeight = Math.min(documentHeight, windowHeight);
            const maxScroll = documentHeight - windowHeight;
            let scrollProgress;

            if (maxScroll > 0) {
                scrollProgress = (scrollPosition / maxScroll) * 100;
            } else {
                scrollProgress = 100; // Set to 100% if there is no scrolling possible
            }

            // Update the loader bar width based on scroll progress
            const loaderBar = document.getElementById('loader-bar');
            loaderBar.style.width = scrollProgress + '%';
        }

        // Call the function on page load
        window.addEventListener('load', updateLoaderBar);

        // Call the function on the scroll event
        window.addEventListener('scroll', updateLoaderBar);
    </script>

    <div class="loader-bar" id="loader-bar"></div>
    <div id="singlePost" data-word-count="{{ page.content | number_of_words  }}">
        <div class="post-stats">
            {% assign formattedDate = page.date | date: "%d %b %Y" | upcase %}
            <span>{{formattedDate}}</span>
            <span class="readingTime"></span>
            <span>{{readingTime}}READ</span>
            <span class="post_type">{{page.tag}}</span>
        </div>
        <h1>{{page.title}}</h1>
        <h4>{{page.description}}</h4>
        <p>{{page.content}}</p>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
          const postElements = document.querySelectorAll('#singlePost');
      
          postElements.forEach(function(postElement, index) {
            const wordCount = postElement.getAttribute('data-word-count');
            const readingTime = calculateReadingTime(wordCount);
      
            // Find the readingTime span element within the current post
            const readingTimeElement = postElement.querySelector('.readingTime');
            if (readingTimeElement) {
              // Update the readingTime span element with the calculated reading time
              readingTimeElement.textContent = readingTime;
            } else {
              console.error('Element with class "readingTime" not found in post #' + (index + 1));
            }
          });
        });
      </script>

    {% include footer.html %}
{% endif %}