<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Anna Kozh - {{page.title}}</title>
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon.jpg">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css">
    <script src="{{site.baseurl}}/assets/js/calculate_reading_time.js"></script>
</head>

<body>
    {% if site.is_under_construction %}
    {% include under-construction.html %}
    {% else %}
    <nav class="navbar">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <img class="logo" src="{{site.baseurl}}/assets/images/favicon.jpg" alt="" srcset="">
                <a aria-current="page" href="/">Anna Kozh</a>
            </li>
            <li class="nav-item">
                <a aria-current="page" href="{{site.baseurl}}/">Portfolio</a>
            </li>
            <li class="nav-item">
                <a aria-current="page" href="{{site.baseurl}}/blog.html">Blog</a>
            </li>
            <li class="nav-item icon download"
                style="background: url({{site.baseurl}}/assets/images/cloud-arrow-down-solid.svg) no-repeat;">
                <a class="resume-placeholder " href="">
                    R&#233sum&#233</a>
            </li>
        </ul>
    </nav>

    <div id="singlePost" data-word-count="{{ page.content | number_of_words  }}">
        <div class="post-stats">
            {% assign formattedDate = page.date | date: "%d %b %Y" | upcase %}
            <span>{{formattedDate}}</span>
            <span class="readingTime"></span>
            <span class="readingTime"></span>
            <span class="post_type">{{page.tag}}</span>
        </div>
        <h1>{{page.title}}</h1>
        <p>{{page.content}}</p>
    </div>

    <footer>
        <h3>Get in touch</h3>
        <a href="https://www.linkedin.com/in/anna-kozhevnikova/" target="_blank">LinkedIn</a>
        <a id="emailCopy" onclick="copy()">
            <span class="tooltiptext" id="tooltip"></span>
            hi@annakozh.com
        </a>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const postElements = document.querySelectorAll('#singlePost');

            postElements.forEach(function (postElement, index) {
                // Get word count from data attribute
                const wordCount = postElement.getAttribute('data-word-count');
                //   const wordCount = calculateWordCount('{{post.content | jsonify | strip_html}} ');
                console.log(wordCount)

                // Calculate reading time
                const readingTime = calculateReadingTime(wordCount);
                console.log(readingTime)

                // Output reading time in the console (for testing)
                console.log('Reading time for post #' + (index + 1) + ': ' + readingTime);

                // Find the readingTime span element within the current post
                const readingTimeElement = postElement.querySelector('.readingTime');
                if (readingTimeElement) {
                    // Update the readingTime span element with the calculated reading time
                    readingTimeElement.textContent = readingTime;
                } else {
                    console.error('Element with class "readingTime" not found in post #' + (index + 1));
                }
            });
        });
    </script>
    {% endif %}
</body>

</html>